body, h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, Arial, sans-serif;
  }

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button_unconfirmed {
    background-color: white; 
    color: black; 
    border: 2px solid orange;
    width: 100%;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

  .slider {
    -webkit-appearance: none;
    width: 25%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
